a.s:active{color:#F0F0F0;}
a:link{color:#909090;text-decoration:none;}
a.f:active{color:#F8F8F8;}
a,a.f:link,a:visited{color:#D0D0D0;}
a.d:link{color:#D0D0D0;background-position:0px 2px;background-image:url('data:image/gif;base64,R0lGODlhEAAMAIMAAOenIumzLbmOWOuxN++9Me+1Pe+9QvDAUtWxaffKXvPOcfTWc/fWe/fWhPfckgAAACH5BAMAAA8ALAAAAAAQAAwAAARQMI1Agzk4n5Sa+84CVNUwHAz4KWzLMo3SzDStOkrHMO8O2zmXsAXD5DjIJEdxyRie0KfzYChYr1jpYVAweb/cwrMbAJjP54AXwRa433A2IgIAOw == ');padding:0 0 0 20px;background-repeat:no-repeat;margin-left:auto;margin-right:auto;}
a.w:link{color:#D0D0D0;background-image:url('data:image/gif;base64,R0lGODlhDgAQAIMAAAAAAOfn5+/v7/f39////////////////////////////////////////////wAAACH5BAMAAA8ALAAAAAAOABAAAAQx8D0xqh0iSHl70FxnfaDohWYloOk6papEwa5g37gt5/zO475fJvgDCW8gknIpWToDEQA7');padding:0 0 0 20px;background-repeat:no-repeat;margin-left:auto;margin-right:auto;}
a:active,a:active:hover,a:visited:hover,a:link:hover{color:#FFFFFF;}
.list{display:inline;}
table{border-spacing:0;border-collapse:collapse;}
.la{text-align:left;float:left}.ra{text-align:right;float:right;}
input:focus{border:2px solid #0099FF;}
.propfont{font-family:"Courier New",Courier,monospace;text-shadow:1px 1px #101010;}
#rxml,#rhtm,#rcpy,#wmsg{position:fixed;top:40%;left:30%;width:40%;height:90px;z-index:5;border:5px solid #ccc;border-radius:25px;padding:10px;color:#fff;text-align:center;background-image:-webkit-gradient(linear,0 0,0 100%,color-stop(0,#999),color-stop(0.02,#666),color-stop(1,#222));background-image:-moz-linear-gradient(top,#999,#666 2%,#222);display:none;}
body{background-color:#101010}body,a.s,td,th{color:#F0F0F0;white-space:nowrap;}
td+td{text-align:right;white-space:nowrap}
.gc{float:left;overflow:hidden;position:relative;text-align:center;width:280px;height:260px;margin:3px;border:1px dashed grey;}
.ic{position:absolute;top:5px;right:5px;left:5px;bottom:40px;}
/*.gi{height:210px;width:267px;*/
.gi{max-height:210px;max-width:260px;
position:absolute;bottom:0px;top:0px;left:0px;right:0px;margin:auto;}
.gn{position:absolute;height:38px;bottom:0px;right:7px;left:7px;text-align:center;}
.bu{background:#444;}.bf{background:#121;}
